.transactionTable {
    width: 800px;
    border-collapse: collapse;
    text-align: left;
}

.transactionTable th,
.transactionTable td {
    padding: 12px;
    border: 1px solid #000;
}

.transactionTable th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

.transactionTable tr:nth-child(even) {
    background-color: #ccc;
}

.transactionTable td {
    text-align: center;
}